@import url(http://fonts.googleapis.com/css?family=Pacifico);

html,
body {
  height: 100%;
  background-color: #ff1a1a;
  background: -webkit-linear-gradient(top left, #ff1a1a 0%, #ff3333 100%);
  background: linear-gradient(to bottom right, #ff1a1a 0%, #ff3333 100%);
  font-family: -webkit-pictographLora,'Times New Roman',serif;
  color: #fff;
  text-align: center;
}

.title{
  margin: 0;
  font: 4em 'Pacifico', cursive !important;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #888;
  display: block;
}

.title-brand{
  display: none;
  margin: 0;
  font: 2em 'Pacifico', cursive !important;
  color: #ffffff;
  text-shadow: 1px 1px 1px #888;
}

.message-success{
  background-color: #4caf50;
  color : #FFFFFF;
  font-size: 14px;
  padding: 10px;
}

.info-color{
  color: #03a9f4 !important;
}

.danger-color{
  color:#f44336 !important;
}

.warning-color{
  color:#ff5722 !important;
}

.success-color{
  color:#4caf50 !important;
}

.black{
  background-color: #080808 !important;
}

.jumbotron{
  background: #ffffff !important;
}

.form-register{
  padding: 20px;
  border: 1px solid #ede7f6;
  margin: 10px;
}

.box-shadow3{
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

#btn-new-account{
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
}

#btn-facebook{
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
  width: 380.125px;
}

#btn-signup{
  font-size: 18px;
  padding: 20px;
}

#btn-signin{
  font-size: 18px;
  padding: 20px;
}

.facebook-color{
  background-color: #5b74a8 !important;
}

#navbar-top{
  background-color: #ff3333 !important;
  margin-top: 50px;
}

.account-container{
  margin-top: 100px;
}

.account-login-container{
  margin-top: 50px;
}

.expired-container{
  margin: 20px;
}

.clock-container{
  margin: 30px;
}

.delay{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.transparent{
  color: inherit !important;
  background-color: rgba(255,255,255,.1) !important;
}

.register-container{
  margin: 0px !important;
  margin-top: 20px;
  padding: 50px;
}

.register-container #contact{
  padding: 20px;
}

#contact label{
  color: #FFFFFF !important;
}

.contact-container{
  margin: 0px !important;
  margin-top: 20px;
  padding: 50px;
}

.contact-container #register{
  padding: 20px;
}

#register .col-lg-5{
  margin-left: 50px;
}

#register label{
  color: #FFFFFF !important;
}

.access-container{
  margin: 0 auto; !important;
  margin-top: 20px;
  padding: 50px;
  width: 40%;
}

.access-container #access{
  padding: 20px;
}

#access label{
  color: #FFFFFF !important;
}

.error-container {
  margin: 0 auto;
  margin-top: 150px;
  max-width: 500px;
  _width: 500px;
  padding: 30px 20px 50px;
  color: #ffffff;
  background-color: rgba(255,255,255,.1) !important;
}

#btn-send{
  font-size: 18px;
  padding: 20px;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p{
  padding: 10px;
}

input{
  color: #FFFFFF !important;
}

textarea{
  color: #FFFFFF !important;
}

@media (max-width: 360px) {
  .account-container{
    margin-top: 30px;
  }

  .clock-container{
    margin: 20px;
  }

  #btn-new-account{
    font-size: 14px;
    padding: 10px;
  }

  .title{
    font-size: 3em !important;
    display: none;
  }

  #btn-send{
    font-size: 16px;
    padding: 18px;
  }

  #btn-signin{
    font-size: 16px;
    padding: 18px;
  }

  #btn-signup{
    font-size: 16px;
    padding: 18px;
  }

  #btn-facebook{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    width: 284.563px;
  }

  .error-container {
    margin-top: 20px;
  }

  .account-login-container{
    margin-top: 20px;
  }

  #register .col-lg-5 {
    margin-left: 0px !important;
    width: 100%;
  }

  .access-container{
    margin: 0 auto; !important;
    margin-top: 15px;
    padding: 5px;
    width: 100%;
  }

  .contact-container{
    margin: 0px !important;
    margin-top: 15px;
    padding: 5px;
  }

  .register-container{
    margin: 0px !important;
    margin-top: 15px;
    padding: 5px;
  }

  .footer{
    position: relative;
    bottom: 0;
    width: 100%;
  }

  .title-brand{
    display: block;
  }

}