<md-dialog aria-label="Categorias" >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Categorias</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close" aria-label="Fechar"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    
    <md-dialog-content style="width:400px;max-height:810px; padding:0px; ">
   		<md-content class="md-padding">
			<div layout>
				<md-input-container flex>
	                <label>Nova categoria</label>
	                <input type="text" name="nome" ng-model="model.nomeCategoria" required title="Informe um nome valido!">
	
	                <div ng-messages="categoriasForm.nome.$error" role="alert" ng-messages-multiple>
	                    <div ng-message="required"></div>
	                    <div ng-message="nome">Categoria invalido.</div>
	                </div>
	            </md-input-container>
	            <md-button ng-clickclass="" aria-label="Adicionar Categoria">
				   	<ng-md-icon icon="add_circle_outline" class="transition1" style="color:gray;"></ng-md-icon>
				</md-button>
			</div>
    	
    	
    	
		<md-list>
			<md-subheader class="md-no-sticky">Categorias Cadastradas</md-subheader>
			<md-list-item ng-repeat="cat in model.categorias" md-ink-ripple="#03A9F4">
				<h5 flex>{{cat.descricao}}</h5>
				<ng-md-icon icon="more_vert" style="color:gray;"></ng-md-icon>
				<md-divider ></md-divider>
			</md-list-item>
 		</md-list>
    	</md-content>
    </md-dialog-content>
</md-dialog>