<<<<<<< HEAD
<md-card flex-gt-sm="90" flex-gt-md="80" class="card-container">
	<md-card-content>	
		<md-content>
		    <md-toolbar class="md-hue-1" >
		     <div class="md-toolbar-tools">
		       		<h3>Produtos <small>({{produto.produtos.length}})</small></h3>
		       	<span flex></span>
		        <ng-md-icon icon="search" style="color:gray;"></ng-md-icon>
		        <md-input-container md-no-float>
				<label>Buscar</label>
				<input ng-model="search">
			</md-input-container>
		     </div>
		   	</md-toolbar>
		    
		    <md-button class="md-accent md-raised" aria-label="Adicionar Categoria" ng-click="produto.showDialogCategorias($event)">
           		<ng-md-icon icon="list" class="transition1"></ng-md-icon>
           		Categorias
           </md-button>
		    
			<h4 ng-show="produto.produtos.length == 0" class="text-align:center; display:block;">Nenhum produto ativo!</h4>
			<md-list>
				<md-list-item class="md-2-line md-clickable"
					ng-repeat="item in produto.produtos | filter:search | orderBy: 'nome' track by $index"
					ng-click="produto.showDialogEditItem(item,$event)" 
					co-longpress="item.selected = !item.selected"
					md-ink-ripple="#03A9F4"
					flex>
					
					<img ng-src="assets/images/avatar.png" alt="{{item.thumb}}" class="md-avatar user-avatar">
					<div class="md-list-item-text">
						<h3>{{item.nome}}</h3>
						<p>{{item.descricao}}</p>
					</div>
					<div class="column" flex>
						<h4>{{item.categoria.descricao}}</h4>
					</div>
					<div class="column" flex>
						<h4>{{item.estoque}}<small>(unidades)</small></h4>
					</div>
					<div class="column" flex>
						<h4>R$ {{item.preco}}</h4>
					</div>
					<ng-md-icon aria-label="Remover" icon="close" class="md-secondary md-hue-3" ng-click="produto.confirmarRemoverItem(item, $event)"></ng-md-icon>
					<md-divider></md-divider>
					
				</md-list-item>
			</md-list>
		    
		    
		</md-content>
	</md-card-content>
</md-card>

<md-button class="md-fab md-fab-bottom-right btn-addUser transition2 md-accent" aria-label="Adicionar Produto"
		           ng-click="produto.showDialogNewProduct($event)">
   	<ng-md-icon icon="add" class="transition1"></ng-md-icon>
</md-button>
=======
<md-content>
    {{ produto.titulo }}
</md-content>
>>>>>>> 878ede3bd8722613ed59d5c4b167c65e09f17308
