<md-dialog aria-label="Inserir Movimentação" class="cadastro-movimentacao">
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom class="md-primary">
            <md-tab label="Informações">
                <div class="md-padding">
                    <form name="movimentacaoForm" ng-submit="confirm()" method="post" class="text-shadow-dark">
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>Produto</label>
                                <input type="text" name="produto" ng-model="model.produto.nome" title="Produto">
                            </md-input-container>



                            <md-input-container md-no-float>
                                <label>Buscar</label>
                                <ng-md-icon icon="search" style="color:gray;"></ng-md-icon>
                                <input ng-model="search" type="text">
                            </md-input-container>


                            <md-input-container flex>
                                <label>Data</label>
                                <input type="datetime" name="dataMovimentacao" ng-model="model.dataMovimentacao" title="Data">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Quantidade</label>
                                <input type="number" name="quantidade" ng-model="model.quantidade" title="Quantidade">
                            </md-input-container>



                            <md-input-container flex>
                                <label>Tipo da Movimentação</label>
                                <input type="number" name="tipoMovimentacao" ng-model="model.tipoMovimentacao" title="Tipo da Movimentação">
                            </md-input-container>
<!--
                            <md-radio-group ng-model="data.group1">
                                <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
                                <md-radio-button value="Banana"> Banana </md-radio-button>
                                <md-radio-button value="Mango">Mango</md-radio-button>
                            </md-radio-group>
-->
                        </div>
                        <md-input-container flex>
                            <label>Descrição</label>
                            <textarea type="text" name="observacao" ng-model="model.observacao" title="Observações"></textarea>
                        </md-input-container>
                    </form>
                </div>
            </md-tab>
        </md-tabs>
        <div class="md-actions" layout="row"><span flex></span>
            <md-button ng-click="cancel()" class="md-cancel"> Cancelar</md-button>
            <md-button type="submit" class="md-primary"> {{model.isEditMode ? 'Salvar' : 'Cadastrar'}}</md-button>
        </div>
    </md-content>
</md-dialog>

