<md-card flex-gt-sm="90" flex-gt-md="80" class="card-container">
    <md-card-content>
        <md-toolbar class="md-hue-1" >
            <div class="md-toolbar-tools">
                <h3>
                    Movimentação de Produtos
                </h3>
                <span flex></span>
                <ng-md-icon icon="search" style="color:gray;"></ng-md-icon>
                <md-input-container md-no-float>
                    <label>Buscar</label>
                    <input ng-model="search" type="text">
                </md-input-container>
            </div>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item class="md-2-line md-clickable"
                              ng-repeat="movimentacao in estoque.movimentacoes | filter:search | orderBy: 'dataMovimentacao' track by $index"
                              ng-click="movimentacao.showDialogEditItem(item,$event)"
                              co-longpress="item.selected = !item.selected"
                              md-ink-ripple="#03A9F4"
                              flex>

                    <ng-md-icon icon="{{estoque.getIconTipoMovimentacao(movimentacao.tipoMovimentacao)}}"
                                ng-style="{ 'fill': estoque.getColorTipoMovimentacao(movimentacao.tipoMovimentacao) }">
                    </ng-md-icon>

                    <div class="md-list-item-text" layout="column" style="margin-left: 14px;">
                        <h3>{{movimentacao.produto.nome}}</h3>
                        <h4>{{movimentacao.produto.descricao}}</h4>
                    </div>
                    <div class="column" flex>
                        <h4>{{movimentacao.dataMovimentacao | date: 'HH:mm:ss dd/MM/yyyy'}}</h4>
                    </div>
                    <div class="column" flex>
                        <h4>{{movimentacao.quantidade}} {{estoque.getDescricaoUnidadeMedida(movimentacao.produto.unidadeMedida)}}(s) </h4>
                    </div>
                    <div class="column" flex>
                        <h6>{{movimentacao.observacao}}</h6>
                    </div>

                    <md-divider></md-divider>

                </md-list-item>
            </md-list>

        </md-content>
    </md-card-content>
</md-card>

<md-button class="md-fab md-fab-bottom-right btn-addUser transition2 md-accent"
           aria-label="Adicionar Movimentação"
           ng-click="estoque.showDialogNewMovimentacao($event)">
    <ng-md-icon icon="add" class="transition1"></ng-md-icon>
</md-button>
