<!DOCTYPE html>
<html lang="pt" ng-app="arquitetura-admin">

<!--HEAD-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Vinícius Montanheiro">
    <base href="/">

    <title><%- DATA.titulo %></title>

    <link href="assets/css/default.css" rel="stylesheet">
    <link href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/bower_components/angular-material/angular-material.min.css" rel="stylesheet">
    <link href="assets/bower_components/angular-material-icons/angular-material-icons.css" rel="stylesheet">
    <link href="assets/bower_components/angularjs-toaster/toaster.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!--<link rel="shortcut icon" href="../assets/images/ico/favicon.ico">-->

</head>
<!--/HEAD-->

<!--BODY-->
<body ng-controller="AppController as app">

<toaster-container class="toaster-message"></toaster-container>

<!--TOOLBAR HEADER-->
<md-toolbar class="toolbar-header">
    <div class="md-toolbar-tools md-whiteframe-z2">

        <md-button id="btn-sidenav-toogle" aria-label="Menu" ng-click="app.toggleSidenav('left')">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>

        <md-button ng-click="app.toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>


        <span flex></span>

        <a  aria-label="Logout" ng-href="/logout">
            <ng-md-icon icon="logout"></ng-md-icon>
        </a>
        <!--<md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">-->
        <!--<ng-md-icon icon="more_vert"></ng-md-icon>-->
        <!--</md-button>-->
    </div>
</md-toolbar>
<!--/TOOLBAR HEADER-->


<!-- CONTAINER-->
<div class="container" md-scroll-y flex>
    <main ng-viewport flex>
<<<<<<< HEAD
	
=======

>>>>>>> 878ede3bd8722613ed59d5c4b167c65e09f17308
    </main>
</div>
<!--/CONTAINER-- >

<!-- SIDENAV-->
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-tall md-hue-2">
    <span flex>
        <md-button ng-click="app.close()" class="md-primary pull-right" aria-label="Esconder">
            <ng-md-icon icon="keyboard_return"></ng-md-icon>
        </md-button>
    </span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <% if (DATA.usuario != null) { %>
            <div><%- DATA.usuario.nome %>  <md-button class="md-icon-button md-icon-button-top-right" aria-label="Logout">
                <ng-md-icon icon="logout"></ng-md-icon>
            </md-button></div>
            <% } %>
        </div>
    </md-toolbar>
    <md-list>
        <md-item ng-repeat="item in app.menu">
            <a ng-link="{{item.link}}">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-divider></md-divider>
        <!--<md-subheader></md-subheader>-->
        <md-item ng-repeat="item in app.settings">
            <a ng-link="{{item.link}}">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>
            </a>
        </md-item>
    </md-list>
</md-sidenav>
<!--/SIDENAV-->

<!-- FOOTER-->
<footer class="md-low-tall navbar-fixed-bottom">

</footer>
<!--/FOOTER-->

<script type="text/javascript" src="assets/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="assets/bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="assets/bower_components/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="assets/bower_components/angular-new-router/dist/router.es5.js"></script>
<script type="text/javascript" src="assets/bower_components/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="assets/bower_components/angularjs-toaster/toaster.min.js"></script>
<script type="text/javascript" src="assets/bower_components/angular-messages/angular-messages.min.js"></script>
<<<<<<< HEAD
<script type="text/javascript" src="assets/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script type="text/javascript" src="assets/bower_components/jquery-maskmoney/dist/jquery.maskMoney.min.js"></script>
<script type="text/javascript" src="assets/bower_components/angular-file-upload/angular-file-upload.js"></script>
<script type="text/javascript" src="assets/bower_components/angular-file-upload/angular-file-upload-shim.js"></script>

<!--/#All default scripts-->
<script type="text/javascript" src="app/models/Enums.js"></script>
<script type="text/javascript" src="app/models/Models.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/services/appServices.js"></script>
<script type="text/javascript" src="app/directives/generalDirectives.js"></script>
<script type="text/javascript" src="app/directives/formDirectives.js"></script>
=======
<script type="text/javascript"
        src="assets/bower_components/angular-material-icons/angular-material-icons.min.js"></script>

<!--/#All default scripts-->
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/services/appServices.js"></script>
<script type="text/javascript" src="app/directives/generalDirectives.js"></script>
>>>>>>> 878ede3bd8722613ed59d5c4b167c65e09f17308

<!--/#All application scripts-->
<script type="text/javascript" src="components/home/home.js"></script>
<script type="text/javascript" src="components/produto/produto.js"></script>
<script type="text/javascript" src="components/usuario/usuario.js"></script>
<<<<<<< HEAD
<script type="text/javascript" src="components/exemplo/exemplo.js"></script>
=======
>>>>>>> 878ede3bd8722613ed59d5c4b167c65e09f17308
</body>
<!--/BODY-->

</html>


