<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%- DATA.titulo %></title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css"
          rel="stylesheet">
    <link href="../assets/bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">


    <!-- FONTS -->
    <link rel="stylesheet" href="../assets/bower_components/font-awesome/css/font-awesome.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/home.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.min.js"></script>
    <script src="../assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    <!-- Static navbar -->
    <nav class="navbar" id="navbar-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="title-brand">Expirou ???</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav navbar-right menu">
                    <li class="delay"><a href="/">PÁGINA INICIAL</a></li>
                    <li class="active delay"><a href="/entrar">ENTRAR</a></li>
                    <li class="delay"><a href="/contato">CONTATO</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>


<div class="container">
    <div class="row access-container transparent">
            <div id="access">
                <p><h2>Entrar</h2></p>
                <p>
                    <form id="signin-form" role="form" method="post" action="/login">
                        <div class="form-group label-static">
                            <label for="email" class="control-label">E-MAIL</label>
                            <input type="email" class="form-control" id="email" name="email">
                            <i class="fa fa-sign-in form-control-feedback"></i>
                        </div>

                        <div class="form-group label-static is-empty">
                            <label for="password" class="control-label">SENHA</label>
                            <input type="password" class="form-control" id="password" name="password">
                            <i class="fa fa-key form-control-feedback"></i>
                        </div>

                        <p>
                            <button type="submit" id="btn-signin" href="javascript:void(0)"
                               class="btn btn-raised  btn-info" >ENTRAR
                            </button>
                        </p>
                    </form>
                </p>
            </div>
        </div>
    </div>

    <div class="row account-login-container">
        <p>
            <a id="btn-new-account" href="/cadastrar" class="btn btn-raised btn-success">
                Crie uma conta!! É grátis!!!!
            </a>
        </p>
        <p>
            <a id="btn-facebook" href="/auth/facebook" class="btn btn-raised facebook-color">
                <i class="fa fa-facebook-f"></i> ENTRAR COM FACEBOOK
            </a>
        </p>
    </div>
</div><!-- END CONTAINER -->
<footer class="nav footer">
    <div class="container">
        <div class="row">
            <p>Expirou 2016! Todos os direitos reservados - powered by Coderup</p>
        </div>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="../assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../assets/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
<script src="../assets/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.min.js"><\/script>')</script>
<!--<script src="../assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="../assets/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="../assets/bower_components/jquery-validation/dist/additional-methods.min.js"></script>
<script src="../assets/js/clock.js"></script>

</body>
</html>