<md-card flex-gt-sm="90" flex-gt-md="80" class="card-container">
    <md-card-content>
        <md-content>
    <p>Selecionar imagem : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="file" ng-file-select="exemplo.uploadService.onFileSelect($files)" multiple>
    </p>
        <br/>
    <br/>

    <div ng-show="dropSupported" class="drop-box" ng-file-drop="exemplo.onFileSelect($files);"
         ng-file-drop-available="dropSupported=true">ou solte o arquivo aqui
    </div>
    <div ng-show="!dropSupported">Navegador não suportado!!</div>
    <br/>
    <br/>
    Progresso:
    <br/>
    <br/>

    <div ng-show="exemplo.uploadService.selectedFiles != null">
        <div class="sel-file" ng-repeat="f in exemplo.uploadService.selectedFiles">
            <img ng-show="exemplo.uploadService.dataUrls[$index]" ng-src="{{exemplo.uploadService.dataUrls[$index]}}">
            <button class="button" ng-click="exemplo.uploadService.start($index,null,'upload')" ng-show="exemplo.uploadService.progress[$index] < 0">Iniciar</button>
				<span class="progress" ng-show="exemplo.uploadService.progress[$index] >= 0">
					<div style="width:{{exemplo.uploadService.progress[$index]}}%">{{exemplo.uploadService.progress[$index]}}%</div>
				</span>
            <button class="button" ng-click="exemplo.uploadService.abort($index)" ng-show="exemplo.uploadService.hasUploader($index) && exemplo.uploadService.progress[$index] < 100">
                Abort
            </button>
            {{f.name}} - size: {{f.size}}B
        </div>
    </div>
</md-content>
        </md-card-content>
    </md-card>