<md-dialog aria-label="Cadastro de usuários" class="cadastro-usuario">
    <md-content class="md-padding">
        <form name="usuarioForm" ng-submit="confirm()" method="post" class="text-shadow-dark">
            <md-switch ng-model="model.ativo" aria-label="Ativo" ng-change="">
                {{ model.ativo ? 'Ativo' : 'Inativo'}}
            </md-switch>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Nome</label>
                    <input ng-disabled="!model.ativo" type="text" ng-model="model.nome" >
                </md-input-container>
                <md-input-container flex>
                    <label>Email</label>
                    <input ng-disabled="!model.ativo" type="email" name="email" ng-model="model.email" required title="Informe um email válido!">

                    <div ng-messages="usuarioForm.email.$error" role="alert" ng-messages-multiple>
                        <div ng-message="required"></div>
                        <div ng-message="email">Email inválido.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Senha</label>
                    <input ng-disabled="!model.ativo" type="password" name="password" ng-model="model.password" title="Informe á senha!"
                           minlength="6" manlength="6">
                </md-input-container>
                <md-input-container flex>
                    <label>Telefone</label>
                    <input ng-disabled="!model.ativo" type="tel" name="telefone" ng-model="model.telefone" title="Informe o telefone">
                </md-input-container>
            </div>
            <div class="md-actions" layout="row"><span flex></span>
                <md-button ng-click="cancel()" class="md-cancel"> Cancelar</md-button>
                <md-button type="submit" class="md-primary"> {{model.isEditMode ? 'Atualizar' : 'Salvar'}}</md-button>
            </div>
        </form>
    </md-content>
</md-dialog>