<md-dialog aria-label="Confirmar Exclusão" class="confirmarEclusao">
    <md-content class="md-padding">
        <h3>Tem certeza que deseja excluír?</h3>
        <div class="md-actions" layout="row"><span flex></span>
            <md-button ng-click="cancel()" class="md-cancel"> Cancelar</md-button>
            <md-button ng-click="confirm()" class="md-primary"> Confirmar</md-button>
        </div>
    </md-content>
</md-dialog>